[submodule "mongo-cxx-driver"]
	path = mongo-cxx-driver
	url = https://github.com/mongodb/mongo-cxx-driver.git
	branch = releases/v3.10
[submodule "SFML"]
	path = SFML
	url = https://github.com/SFML/SFML.git
	branch = 2.6.x
