.vs
.git
.scannerwork
/out
/docs
/external
/libs
/sonar/**/bin
/sonar/**/conf
/sonar/**/jre
/sonar/**/lib
/sonar/**/*.zip
/sonar/**/*.exe

# Coverage files
*.gcda
*.gcno
*.gcov
coverage/
*.info
*.profraw
*.profdata
